/*=============
"Universal"
=============*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
html{font-size: 62.5%;}
:root{
    --headersitemsize: 25rem;
    --primarycolor: #e3dac9;
    --primaryhovercolor: #D8D0C1;
    --textcolor: #202020;
    --secondarycolor:#38835b;
}
h1{
    font-size: 8rem;
    color:#212F3D;
}

body{background-color: var(--primarycolor);}
/*=============
Navigation bar
=============*/

/*navbar*/
.navbar{
    font-size: 3rem;
    height: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    border: 0.1rem;
    background-color: var(--primarycolor);
    color: var(--textcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1rem var(--secondarycolor);
}

/*logo*/
.logo{
    float: left;
    width: var(--headersitemsize); 
    color: var(--textcolor);
    text-decoration: none;     
}

/*Occation drop down menu*/
.dropbtn {
    background-color: var(--primarycolor);
    color: var(--textcolor);
    padding: 1.6rem;
    border: none;
    border-radius: 2rem 2rem 0 0;
    font-size: 3rem;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primaryhovercolor);
    min-width: 160px;
    z-index: 1;
    text-align: center;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 0 0 2rem 2rem;
}
.dropdown-content a {
    color: var(--textcolor);
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    border-radius: 2rem;
}

.dropdown-content a:hover {
    background-color: #C8C1B3;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {
    background-color: var(--primaryhovercolor);}
.dropdown{font-size: 3rem;}

/*Sign in*/
.sign-in{
    clear:center; 
    float: right;
    width: var(--headersitemsize);
    text-align: right;
    color: var(--textcolor);
    text-decoration: none;
}

/*=========
Showcase
=========*/

/*Showcase*/
.Showcase{
    height: calc(100vh - 100px);
    width: 100%;
    padding-top: 10rem;
    padding-left: 10rem;
    outline: red, solid, 1px;
    background-image: url(https://wallpaperaccess.com/full/428865.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Call to action*/
.callToAction{
    background-color: var(--secondarycolor);
    color: #212F3D;
    padding: 1em 2em;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
}
.callToAction:hover{
    background-color: #327551;
}

/*Main header of showcase*/
.main{
    margin-bottom: 10rem;
}

/*============
Gallery
============*/
.gallery{
    padding-top: 6rem;
    background-color: var(--primarycolor);
    height: 500vh;
}

.gallery__smallmoments{
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding-top: 6rem;
    border-top: solid var(--primaryhovercolor);
}

.popup{
    margin-left: calc(25% - 10rem);
    background-color: var(--primarycolor);
    text-align: center;
    height: 10vh;
    width: 50%;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-top: 1rem;
    
    /*font*/
    font-size: 4rem;
    position: absolute;
    bottom: 0;
}

.popup a {color: var(--textcolor);
    text-decoration: none;}

.gallery__smallmoments__title{
    font-size: 3rem;
    flex-grow: 3;
}
