.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    outline: 5px black solid;
    height: 30rem;
    width: 30rem;
    text-align: center;
    justify-content: center;
    font-size: 5rem;
}

.odd {
    border-bottom: 5px black solid;
    border-right: 5px black solid;
}

.even {
    border-bottom: 5px black solid;
    border-right: 5px black solid; 
}
